body {
    font-family: Arial, sans-serif;
    background-image: url(../AdobeStock_1012062376.jpeg);
    margin: 0;
    padding: 20px;
}

h1 {
    color: #003366;
    text-align: center;
}

.container {
    max-width: 200px;
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
    color: #003366;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}